
/* using this to make borders of each element more clear for manipulating later and properly formatting/designing web page */
* {
    border: 1px solid red;
}

form input, label, textarea{
  box-sizing: border-box;
  display: block;
  margin: 5px 0;
  width: 100%;
}

form button[type="submit"],
button {
  background: #73956f;
  border: none;
  border-radius: 5px;
  color: #f7f7f7;
  cursor: pointer;
  margin: 10px 0;
  padding: 10px;
}

form button[type="submit"]:hover,
button:hover {
  background: #46494c;
}

form button[type="reset"],
button {
  background: #FF6666;
  border: none;
  border-radius: 5px;
  color: #f7f7f7;
  cursor: pointer;
  margin: 10px 0;
  padding: 10px;
}

form button[type="reset"]:hover,
button:hover {
  background: #46494c;
}

form button[type="In Stock"],
button {
  background: #73956f;
  border: none;
  border-radius: 5px;
  color: #f7f7f7;
  cursor: pointer;
  margin: 10px 0;
  padding: 10px; 
}

form button[type="Remove NFT"],
button {
  background: #FF6666;
  border: none;
  border-radius: 5px;
  color: #f7f7f7;
  cursor: pointer;
  margin: 10px 0;
  padding: 10px;
}

form button[type="In Stock"],
button {
  background: #73956f;
  border: none;
  border-radius: 5px;
  color: #f7f7f7;
  cursor: pointer;
  margin: 10px 0;
  padding: 10px;
} 

/* grid box set up for nft collection sections */
.nft-collection ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* border box arond nft collection list items */
.nft-collection ul li {
  border: 10px solid blue;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}